/*
------------------------------
	layout
------------------------------
*/
body,img,p,h1,h2,fieldset,form,pre,code{ margin:0; padding:0; border:0; }
body {
	font: 12px/16px Arial, Helvetica, sans-serif;
	border-top: solid 5px #A04334;
	background-color: #FAF9F4;
	text-align: center;
}
noscript{ color: #ff0000; font-weight: bold; }
h1{ font-family: Times, serif; color: #555; margin: 0 0 10px 0; letter-spacing: 2px; }
p{ line-height: 18px; margin: 10px 0; }
#wrapper{ text-align: left; margin: 40px auto; background-color: #ffffff; width: 500px; min-height: 200px; padding: 25px; }
#PhotoPrevs{ margin: 10px 0; }
#PhotoPrevs img{ margin: 20px 20px; }
